{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="single-post">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>{{ object.title }}</a></h2>
          <p class="meta">
            <b>{{ object.created_at }}</b>
          </p>
          <p>
            {{ object.body|safe }}
          </p>
        </div>
        <div class="col-sm-4">
          <img class="img-responsive" src="{{ object.image_preview.url }}">
          <small class="credit">{% if object.picture_credit %}Photo by {{ object.picture_credit }}{% endif %}</small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
